<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Concord Consortium Developer Pages - {{ page.title }}</title>
    
    <link href="http://developer.github.com/shared/css/documentation.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/default.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="main">
      <div id="header-wrapper">
        <div id="header" class="basic" >
          <div class="site">
            <h1><a class="logo" href="/"> Concord Consortium Developer Pages</a></h1>
          </div>
        </div>
      </div>
      <div id="wrapper">
        <div id="content" class="site">

          {{ content }}

        </div>
      </div>

      <div class="push"></div>
    </div>

     <div id="footer-wrapper">
      <div id="footer">
        <div class="left-col">
          <h2><a href="http://www.concord.org/"><img src="/img/archive-logo.png" alt="concord-consortium" width="145" height="44"/></a></h2>
          <ul class="cc-nav">
            <li><a href="http://blog.concord.org/" class="blog">Blog</a></li>
            <li><a href="http://www.concord.org/projects">Projects</a></li>
            <li><a href="http://www.concord.org/activities">Activities</a></li>
            <li><a href="http://www.concord.org/research-publications">Research and Publications</a></li>
            <li><a href="http://www.concord.org/about">About Us</a></li>
          </ul>
          <p class="copyline">&copy; 2011 Concord Consortium Inc. All rights reserved</p>
        </div>
      </div>
    </div>
  </body>
</html>
